@import './variables/colors';

:root {
  --c-text: #24292e;
  --c-text-second: #586069;
  --c-hover: #ececec;
  --c-border: #e1e4e8;
  --c-link: #0366d6;
  --c-danger: #ff3a3a;

  --c-bg-alpha: #fff;
  --c-bg-beta: #f6f8fa;

}
