<ng-container *ngIf="repository">

  <div class="repo__header">
    <a class="header__link"
       [routerLink]="'/repositories/' + repository.owner.login">
      {{ repository.owner.login }}
    </a>
    <span class="header__divider">/</span>
    <a class="header__link header__link--accent"
       [routerLink]="'/repository/' + repository.owner.login + '/' + repository.name">
      {{ repository.name }}
    </a>
  </div>

  <div *ngIf="!isEditModeOn; else editTemplate"
       class="repo__description">
    <div class="desc__wrapper">
      <div class="desc__content"
           (click)="switchEditMode()">
        {{ description || repository.description }}
      </div>
      <button pButton
              type="button"
              label="Edit"
              (click)="switchEditMode()">
      </button>
    </div>
    <div class="repo__warning"
         *ngIf="warningMessage">
      {{ warningMessage }}
    </div>
  </div>
  <ng-template #editTemplate>
    <div class="desc__editor">
      <input class="editor__input"
             type="text"
             pInputText
             autofocus
             [(ngModel)]="description">
      <div class="editor__actions">
        <button pButton
                type="button"
                label="Save"
                (click)="saveDescription()">
        </button>
        <button pButton
                type="reset"
                label="Cancel"
                class="ui-button-secondary"
                (click)="cancelEditDescription()">
        </button>
      </div>
    </div>
  </ng-template>

  <div class="repo__download">
    <button pButton
            type="button"
            icon="pi pi-download"
            iconPos="left"
            label="Download ZIP"
            (click)="downloadZip(repository.owner.login, repository.name)">
    </button>
  </div>

  <div class="repo__readme">
    <h2 class="readme__header"><i class="pi pi-file-o"></i>&nbsp;README.md</h2>
    <div class="readme__content">
      <markdown *ngIf="readMe$ | async as readMe"
                [src]="readMe.download_url">
      </markdown>
    </div>
  </div>

</ng-container>

<p-dialog header="Access token"
          [(visible)]="displayAccessDialog"
          [modal]="true"
          [closable]="false">
  <div class="repo__token">
    Please enter your personal access token. If you don't have an access token you can create it on
    <a href="https://github.com/settings/tokens"
       target="_blank">
      GitHub
    </a>.
    <input #inpAccessToken
           tabindex="0"
           type="text"
           pInputText
           autofocus>
  </div>
  <p-footer>
    <button type="button"
            pButton
            icon="pi pi-check"
            [disabled]="!inpAccessToken.value"
            (click)="updateAccessToken(inpAccessToken.value); saveDescription();"
            label="Yes">
    </button>
    <button type="button"
            pButton
            icon="pi pi-times"
            (click)="hideAccessDialog()"
            label="No"
            class="ui-button-secondary">
    </button>
  </p-footer>
</p-dialog>
