:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
}

input {
  margin: 20px 0;
}

ul li {
  min-width: 200px;
  cursor: pointer;

  &:hover {
    background-color: var(--c-hover);
  }
}

.user {
  display: flex;
  align-items: center;
  padding: 6px 12px;

  &__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__name {
    margin-left: 12px;
    font-size: 1.6rem;
  }
}

.ui-progress-spinner {
  width: 50px;
  height: 50px;
}
