<input type="text"
       pInputText
       [(ngModel)]="pattern"
       (keyup.enter)="search(pattern)"
       placeholder="User..."
       autofocus>

<ul *ngIf="users$ | async as users">
  <li *ngFor="let user of users"
      (click)="selectUser(user)"
      (keyup.enter)="selectUser(user)"
      tabindex="0">
    <div class="user">
      <img [src]="user.avatar_url"
           alt=""
           class="user__img">
      <span class="user__name">{{ user.login }}</span>
    </div>
  </li>
</ul>

<p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
