:host {
  display: flex;
  width: 100%;
  padding: 15px;
  max-width: 1280px;
  margin: 0 auto;
}

.user {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 272px;
  padding-right: 40px;
  transition: all .25s;

  &__img {
    height: auto;
    width: 100%;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin-top: 20px;
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 500;
  }

  &__login {
    color: var(--c-text-second);
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 300;
  }
}

.repo {
  flex: 1 1 auto;
}

.repo__form {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  .form__label {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--c-text);
    font-size: 1.4rem;
    margin-left: 15px;
    margin-bottom: 15px;

    span {
      padding-right: 6px;
    }
  }
}

.repo__header {
  display: flex;
  align-items: center;

  h2 {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 2.4rem;
  }
}

.repo__count {
  display: inline-block;
  background-color: #eaeaea;
  border-radius: 2rem;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 2px 8px;
  margin-left: 8px;
}

.repo__list {
}

.repo__item {
  margin-bottom: 10px;
}

.repo__tile {
  border: 1px solid var(--c-border);
  border-radius: 3px;
  padding: 15px;
}

.repo__title {
  display: inline-block;
  flex: 0 0 auto;
  width: auto;
  color: var(--c-link);
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.repo__description {
  color: var(--c-text-second);
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.repo__details {
  color: var(--c-text-second);
  display: flex;
  font-size: 1.2rem;
  line-height: 1em;

  & > * {
    display: flex;
    align-items: center;
  }
}

.repo__date {
}

.repo__rating {
  margin-right: 12px;
  i {
    font-size: 1.8rem;
  }
}

@media (max-width: 1024px) {
  .repo__header {
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
  }

  .user {
    min-width: 100%;
    padding: 0;
    flex-direction: row;
    margin-bottom: 30px;

    &__name,
    &__login {
      margin: 0 10px;
    }

    &__img {
      max-width: 140px;
      border-radius: 3px;
    }
  }
}

@media (max-width: 480px) {
  .repo__form {
    flex-direction: column;

    .form__label {
      margin-left: 0;
      & > *:not(span) {
        flex: 1 1 auto;
      }
      ::ng-deep .ui-dropdown {
        width: 100%;
      }
    }
  }
}
